.site-footer{
    background:#19191a;
    /* #0a58ca */
    color:#fff;
    padding:60px 80px 30px;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.footer-box{
    flex:1;
    min-width:250px;
}

.footer-box h3{
    margin-bottom:15px;
    font-size:20px;
    border-bottom:2px solid #fff;
    display:inline-block;
    padding-bottom:5px;
}

.footer-box p,
.footer-box a{
    color:#eaeaea;
    text-decoration:none;
    font-size:14px;
    line-height:1.8;
}

.footer-box a:hover{
    color:#fff;
}

.footer-bottom{
    text-align:center;
    margin-top:40px;
    border-top:1px solid rgba(255,255,255,0.3);
    padding-top:15px;
    font-size:14px;
}
