.hero{
    height: calc(100vh - 80px);
    background: linear-gradient(rgba(10,10,10,0.7), rgba(10,10,10,0.7)),
    url('../images/clinic.png');
    background-size:cover;
    background-position:center;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    /* opacity: 0.1; */
    /* margin-top: 10px; */
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

.btn{
    background:#fff;
    color:#0a58ca;
    padding:12px 25px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
}