.hero{
    height: calc(100vh - 80px);
    background: linear-gradient(rgba(10,10,10,0.7), rgba(10,10,10,0.7)),
    url('../images/clinic.png');
    background-size:cover;
    background-position:center;
    color:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    /* opacity: 0.1; */
    /* margin-top: 10px; */
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

.btn{
    background:#fff;
    color:#0a58ca;
    padding:12px 25px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
}

/* <!---->

about section styling 

*/

.about-clinic{
    padding:80px 60px;
    background:#f9fbff;
}

.about-container{
    display:flex;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}

.about-image img{
    width:100%;
    max-width:500px;
    border-radius:10px;
}

.about-text{
    flex:1;
    min-width:300px;
}

.about-text h2{
    font-size:32px;
    margin-bottom:20px;
    color:#0a58ca;
}

.about-text p{
    font-size:16px;
    line-height:1.8;
    margin-bottom:15px;
    color:#333;
}



/*  

services section styling

*/
.services-section{
    padding:80px 60px;
    text-align:center;
}

.section-title{
    font-size:32px;
    margin-bottom:40px;
    color:#0a58ca;
}

.services-container{
    display:flex;
    gap:30px;
    justify-content:center;
    flex-wrap:wrap;
}

.service-card{
    width:260px;
    background:#fff;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
    border-radius:8px;
    padding:20px;
}

.service-card img{
    width:100%;
    height:160px;
    object-fit:cover;
    border-radius:6px;
    margin-bottom:15px;
}

.service-card h3{
    margin-bottom:10px;
    font-size:20px;
}

.service-card p{
    font-size:14px;
    color:#555;
}

/*  team section styling */

.team-section{
    padding:80px 60px;
    background:#f4f9ff;
    text-align:center;
}

.team-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.doctor-card{
    width:220px;
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.doctor-card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:8px;
    margin-bottom:15px;
}

.doctor-card h3{
    margin-bottom:5px;
}

.doctor-card p{
    color:#666;
    font-size:14px;
}


/*
book appointment section styling
*/

.cta-section{
    background:#0a58ca;
    color:#fff;
    text-align:center;
    padding:80px 20px;
}

.cta-container h2{
    font-size:36px;
    margin-bottom:15px;
}

.cta-container p{
    font-size:18px;
    margin-bottom:25px;
}

.cta-btn{
    background:#fff;
    color:#0a58ca;
    padding:12px 30px;
    text-decoration:none;
    font-weight:bold;
    border-radius:6px;
}

a{
    text-decoration:none;
}