/* Header styling */

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.site-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 60px;
    background:#ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin: 0;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#0a58ca;
}

.nav-menu ul{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-menu a{
    text-decoration:none;
    color:#333;
    font-weight:500;
}

.nav-menu a:hover{
    color:#0a58ca;
}
