/* Header styling */

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top:80px;
}



/* .site-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:60px;
    background:#ffffff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);

    z-index: 1000;
} */

/* 
.logo{
    font-size:24px;
    font-weight:bold;
    color:#03947e;
}

.nav-menu ul{
    list-style:none;
    display:flex;
    gap:25px;
}

.nav-menu a{
    text-decoration:none;
    color:#333;
    font-weight:500;
} */

/* .nav-menu a:hover{
    color:#d7dbda;

} */
    /* 0a58ca */

